<html>
<header>
<title>Cronenbear - tool to merge Google public holidays calendars</title>
</header>
<body>
Hello, welcome to the Cronenbear index page, a tool to merge multiple Google holidays calendars into 1 single ics file. Here is the list of calendars you can use:
<ul>
{% for k in calendars.clone().into_keys().sorted() %}
<li><a href="/calendar/{{ k }}.ics">{{ calendars.get(k).unwrap() }}</a></li>
{% endfor %}
</ul>
<footer><a href="{{ env!("CARGO_PKG_REPOSITORY") }}">Source code</a> - Compilation date: {{ date }} - Git revision: {{ git_rev }}</footer>
</body>
</html>
